html {
    background-color: #ffc90e;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.box {
    width: 20vw;
    height: 94vh;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-left: 3vw;
}

#redbox {
    display: inline-block;
    background-color: #ed1c24;
}

#greenbox {
    display: inline-block;
    background-color: #22b14c;
}

#bluebox {
    display: inline-block;
    background-color: #3f48cc;
}

#purplebox {
    display: inline-block;
    background-color: #a349a4;
}

h3 {
    position: absolute;
    top: 5%;
    margin-left: 10pt;
    font-size: 4em;
}

p {
    position: absolute;
    top: 20%;
    margin-left: 25pt;
    font-size: 2.5rem;
}