html {
    background-color: #ffc90e;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.box {
    width: 20vw;
    height: 94vh;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 3vw;
}

#redbox {
    display: inline-block;
    background-color: #ed1c24;
}

#greenbox {
    display: inline-block;
    background-color: #22b14c;
}

#bluebox {
    display: inline-block;
    background-color: #3f48cc;
}

#purplebox {
    display: inline-block;
    background-color: #a349a4;
}